.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
  position: relative;
}

header {
  box-shadow: 0 1px 3px 3px #00000012;
  padding: 1rem 2.375rem;
  background-color: #fff;
  display: flex;
}

a {
  padding: 0.5rem;
}

.content {
  padding: 1rem;
  flex: 1;
  overflow: auto;
}
